extends layout

block content
  h1= title
  p Welcome to #{ title }!

  ul.message-board
  if messages.length
    each message in messages
      li.message
        .message-info
          span.user-name= message.author
          span.message-date(title=message.date.added)= message.date.string
        p= message.messageText
  else
    p.no-messages= "No messages yet, be the first."

  a(href="/new") Submit a message
